.__xannotation_ img {
  opacity: 0;
}
.__xannotation_ > div > div:nth-child(2) {
  background: transparent !important;
}
.__xannotation_ {
  pointer-events: none !important;
}
.__xannotation_toolbar, .__xannotation_toolbox {
  pointer-events: auto !important;
  opacity: .9;
}
.__xannotation_ svg g {
  pointer-events: auto !important;
}